.txt-areciclo {
    font-family: 'Nunito', sans-serif;
    font-size: clamp(.9rem, 1.8vw, 1.2rem);
    text-align: justify;
}

.img-areciclo {
    height: 140px;
    width: 200px;
    border-radius: 8%;
}